In [56]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np
# Import the API key.
from config import g_key

In [57]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Peniche,PT,2020-10-28 00:18:41,39.36,-9.38,62.01,88,97,10.00
1,1,Kyra,RU,2020-10-28 00:18:41,49.58,111.98,25.97,84,27,2.08
2,2,Mahebourg,MU,2020-10-28 00:10:56,-20.41,57.70,70.00,80,3,1.99
3,3,Pangkalanbuun,ID,2020-10-28 00:14:53,-2.68,111.62,77.77,89,100,1.41
4,4,Bredasdorp,ZA,2020-10-28 00:10:16,-34.53,20.04,62.60,82,100,4.70

In [58]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [59]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
max_temp = city_data_df["Max Temp"].mask(city_data_df["Max Temp"] < 0,0) 

# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [65]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Pangkalanbuun,ID,2020-10-28 00:14:53,-2.68,111.62,77.77,89,100,1.41
11,11,Yulara,AU,2020-10-28 00:11:26,-25.24,130.99,75.20,17,0,6.93
13,13,Touros,BR,2020-10-28 00:05:54,-5.20,-35.46,78.80,83,40,9.17
14,14,Rikitea,PF,2020-10-28 00:07:38,-23.12,-134.97,75.56,83,100,16.75
15,15,Hithadhoo,MV,2020-10-28 00:08:13,-0.60,73.08,83.62,66,93,10.76
17,17,Dingle,PH,2020-10-28 00:10:23,11.00,122.67,81.46,80,66,2.17
26,26,Atuona,PF,2020-10-28 00:10:16,-9.80,-139.03,78.84,73,1,19.42
29,29,Port Keats,AU,2020-10-28 00:18:44,-14.25,129.55,88.11,55,13,2.08
35,35,Isangel,VU,2020-10-28 00:11:12,-19.55,169.27,79.72,69,22,16.08
40,40,Cocobeach,GA,2020-10-28 00:18:45,1.00,9.58,77.00,100,75,6.93

In [66]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [67]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3   Pangkalanbuun      ID     77.77  -2.68  111.62
11         Yulara      AU     75.20 -25.24  130.99
13         Touros      BR     78.80  -5.20  -35.46
14        Rikitea      PF     75.56 -23.12 -134.97
15      Hithadhoo      MV     83.62  -0.60   73.08
17         Dingle      PH     81.46  11.00  122.67
26         Atuona      PF     78.84  -9.80 -139.03
29     Port Keats      AU     88.11 -14.25  129.55
35        Isangel      VU     79.72 -19.55  169.27
40      Cocobeach      GA     77.00   1.00    9.58

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [69]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Pangkalanbuun,ID,77.77,-2.68,111.62,Grand Kecubung Hotel
11,Yulara,AU,75.20,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
13,Touros,BR,78.80,-5.20,-35.46,INN NEW HORIZON
14,Rikitea,PF,75.56,-23.12,-134.97,Pension Maro'i
15,Hithadhoo,MV,83.62,-0.60,73.08,Scoop Guest House
17,Dingle,PH,81.46,11.00,122.67,Camp Pasica
26,Atuona,PF,78.84,-9.80,-139.03,Villa Enata
29,Port Keats,AU,88.11,-14.25,129.55,TDC Village (Hundred Man Camp)
35,Isangel,VU,79.72,-19.55,169.27,Volcano Sea View Tree House
40,Cocobeach,GA,77.00,1.00,9.58,Hôtel A Cocobeach

In [70]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [74]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [75]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))